*{
    margin:0;
  padding:0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul{
    list-style: none;
}
html{
    width: 100% !important;
    overflow-x: hidden;
}

body{
    line-height: 20px;
    font-weight: 400px;
    margin:0;
    padding:0;
    /* background-color:rgba(173, 169, 169,0.3) ; */
  background-repeat: no-repeat;
    /* background:url("/public/pics/045.jpg"); */
    font-size: 14px;
    
    width: 100% !important;
    line-height:2.51em;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    outline: none;
}
header{
    width: 100%;
    display: block;    
    top: -20px;
    position: relative;
    margin: 0;
    padding: 20px 0;
    
    /* padding-bottom: 5px;  */
    height:90px;
     background-color:rgba(11, 22, 41, 1);
  
     
    }
  .forBig{
        display:block ;
    }
   .forSmall{
        display: none;
    }
header h1{
   font-weight: bold;
   color:rgba(248, 238, 251,0.9);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 30px;
   display: inline-block;
   /* border: 1px solid white; */
}
#header-1{
    position: absolute;
    width: 94.6%;
    /* border: 1px solid white; */
    display: inline;
    height: 90px;
    padding-left: 100px;
    margin: 0;
}
#profile{
    display: inline;
    position: absolute;
    right: 30px;
    top:40px;
    /* width: 5%; */
    /* border: 1px solid slateblue; */
}
#profile:hover #person{
       box-shadow: 0 0px 0.3px 0 rgb(192, 188, 188), 0 0px 0px 1px rgb(177, 166, 166);

}
#profile img{
    display: inline-block;
    margin-right:1px;
}
#arrow{
    color: snow;
    background-color: snow;
}
#contents{
    /* display: none; */
    background-color:  rgba(146, 62, 41,1);
    position: absolute;
    width: 120px;
    height: 80px;
    right: 30px;
    z-index: 1;
    top:85px;
}
#contents a{
    padding: 2px;
    color:rgba(248, 238, 251,0.9);
    display: block;
    padding-left: 20px;
    border-bottom: 1px solid rgba(148, 144, 144,0.5);
    /* background-color: rgba(234, 237, 241, 0.8); */
}
#contents a:hover{
    background-color:rgba(236, 156, 139, 0.2);
    text-decoration: none;
     /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); */

}

.flex-container{
    display: flex;
   
  
    justify-content: center;
   margin-top: 50px;
}
#flex-item{
  width:400px;
  background-color: white;
  height:400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 3px solid rgb(146, 62, 41) ;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); */
  /* /background:url("/public/pics/047.jpg"); */
}
.second-flex-item{
margin-top: 10px;
}
#head{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color:rgb(146, 62, 41);
    color:rgba(248, 238, 251,0.8);
    font-weight: 500;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-flex-item img{
    margin-left: 40px;
}
#login-form{
    margin-top: 20px;
}
form#login-form input{
    display: inline-block;
    margin-bottom: 10px;
}
#login-form input{
    border: 0px;
    background:rgba(216, 213, 213, 0.5);
   font-size: 13px;
    padding: 1px 10px;
    border-radius: 5px;
    width:250px;
    height: 30px;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
}
#login-form input:focus{
    border-bottom: 1px solid rgb(146, 62, 41) ;
}
#login-form button{
    background-color:rgb(146, 62, 41) ;
    color: whitesmoke;
    width:250px;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    border: 0px;
    height: 35px;
}
.second-flex-item a{
    position: relative;
   top: 10px;
   font-size: 14px;
   margin-left: 20px;
}
.second-flex-item a:hover{
    color:none;
}
#login-form input[type=checkbox]{
    display: inline;
    height: 10px;
    width: 25px;
    
    
}
#remember{
    color:rgba(11, 22, 41,0.9);
    font-size: 13px;
}
.flex-container1{
    display: flex;
    height:535px;
/* border: 1px solid gray; */
position: relative;
top:-20px;
justify-content: center;
}
#flex-itemm{
    margin-top: 70px;
   
}
#flex-itemm h1{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: bolder;
    color:rgba(11, 22, 41, 0.8) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#flex-itemm h4{
    font-weight: bold;
margin-left: 75px;
font-size: 24px;
color:rgb(122, 100, 100) ;
/* font-family: serif; */
}
#flex-itemm #link{
    margin-left: 70px;
}
#flex-itemm a{
    margin-top: 30px;
    display: inline-block;
    width:150px;
    color:rgba(248, 238, 251,0.9);
   text-align: center;
    background-color:  rgba(146, 62, 41,1);
    margin-right: 20px;
    transition: box-shadow 1s ease;
  
}
#flex-itemm a:hover{
    text-decoration: none;
    color:rgba(248, 238, 251,1);
    
    box-shadow: 0 4px 8px 0 rgba(146, 62, 41,0.3), 0 6px 20px 0 rgba(146, 62, 41,0.3);
}
.flex-container2{
    display: flex;
    justify-content: center;
  height: auto;
   
    width: 100%;
    position: relative;
    top:-49px;
    margin: 0;
}

.flex-itemProfile{
 width:100%;
   border: 0px solid rgb(241, 228, 228);
    position: relative;
    margin-top: 29px;
    padding: 0;
    height:500px;
    background:whitesmoke;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
}
.flex-itemProfile h3{
    /* display: block; */
    color:rgba(248, 238, 251,0.9);
    background-color:  rgba(146, 62, 41,1);
    height: 45px;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    /* font-weight: bold; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#profileInfo{
    /* width:80%; */
    margin-top: 60px;
    margin-left: 35%;
    color:rgba(11, 22, 41, 0.7);
    font-weight: bold;
}
#profileInfo input{
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
    width: 200px;
    padding-left:7px;
    border: 0px;
    background:rgba(216, 213, 213, 0.5);
   font-size: 13px;
    padding: 1px 10px;
    border-radius: 5px;
}
#profileInfo input:focus{
    border-bottom: 1px solid rgb(146, 62, 41) ;
}
table tr{
    padding-bottom: 20px;
    }
#profileBtn{
    position: absolute;
    right: 20px;
    bottom:20px;
}
#profileBtn button{
    color:rgba(11, 22, 41, 0.8) ;
    width:120px;
    height: 30px;
    
    background-color:  rgba(146, 62, 41,1);
    color:rgba(248, 238, 251,0.8);
    border: 0;
    font-weight: 500;
    border-radius: 2px;
}
#profileBtn #cancel{
    margin-left: 10px;
    color:rgba(248, 238, 251,0.8);
    width: 80px;
   display: inline-block;
   background-color:  rgba(146, 62, 41,1);
    border-radius: 2px;
    height: 30px;
}
#profileBtn a{
   
   
   position: relative;
   top:-2px;
    font-weight: 500;
    display: block;
    color:rgba(248, 238, 251,0.8);
    text-align: center;
   
}
#profileBtn a:hover{
    /* background-color:  rgba(146, 62, 41,0); */
    color:rgba(248, 238, 251,1);
    text-decoration: none;
}
#profileBtn button:hover{
    color:rgba(248, 238, 251,1);
    /* background-color:  rgba(146, 62, 41,0.8); */
}
#btnU{
    position: relative;
    top:-3px;
}
/* CSS for putup page */
.for-small-device{
    display: none;
}
.flex-container3{
    display: flex;
    justify-content: center;
    height: 500px;
    width:100%;
}
#flex-item-post{
    width:100%;
    height: 530px;
    
    position: relative;
    margin: 0;
    top:-20px;
}
#flex-item-post h3{
    color:rgba(248, 238, 251,0.9);
    background-color:  rgba(146, 62, 41,1);
    height: 45px;
    padding: 10px 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    /* font-weight: bold; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#profileInfo h6{
    /* height:10px; */
    position: relative;
    top:-8px;
    left:5px;
    color: rgb(253, 30, 30);
    font-size: 9pt;
}








#Post-house{
    color: rgb(77, 72, 71);
    margin-left:70px;
    font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Post-house label{
    font-weight: bold;
}
#Post-house table tr{
    padding-left: 30px;
    /* border: 1px solid gold; */
}
 #Post-house tr{
    height:60px;
    width: 100px;
}
#Post-house td{
width: 300px;

}
/* th, td {
    padding: 15px;
    text-align: left;
} */
#Post-house select{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 2px 10px;
    
}
#Post-house option{
    background-color: rgba(146, 62, 41,0.9);
    color:rgba(248, 238, 251,0.8);
}
#Post-house option:hover{
    background-color: turquoise;
}
#Post-house textarea{
    margin-top: 30px;
    width:550px;                                                                         ;
    height: 80px;
    padding: 2px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  outline: none;
}
#Post-house select:focus,#Post-house textarea:focus{
    border:2px solid rgba(146, 62, 41,1);
}

#land-lord{
    position: relative;
    top:-30px;
    margin-right: 50px;
}
#submitBtn{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
#submitBtn input{
    width: 100px;
    margin-right: 30px;
    
  position: relative;
  top:5px;
  
    border-radius: 3px;
    color:rgba(248, 238, 251,0.8);
    background-color:  rgba(146, 62, 41,1);
    border: 0;
    padding: 0px 32px 0px;
}

#submitBtn input:hover{
    color:rgba(248, 238, 251,1);
}
@media only screen and (max-width:800px){
    #flex-item-post{
        width:100%;
        margin-top: -20px;
    }
    #Post-house textarea{
        width: 450px;
    }
    #profileInfo{
        margin-left:25%;
    }
}
@media only screen and (max-width:770px){
    .flex-container2{
        margin-top: 20px;
    }
}
@media only screen and (max-width:775px){
    #header-1{
        padding-left:10px;
        width: 80%;
    }
}
@media only screen and (max-width:770px){
    header{
        padding-left: 100px;
    }
    .flex-itemProfile{
       
           margin-top: 0px;
  }
}
@media only screen and (max-width:655px){
    #Post-house textarea{
        width: 350px;
    }
    #Post-house{
        margin-left: 10px;
    }
    #Post-house td{
        width:200px;
    }
    #Post-house table{
        line-height: 18px;
        /* text-align: center; */
    }
}
@media only screen and (max-width:588px){
    header{
        padding-left: 50px;
         }
    header h1{
        
        font-size: 25px;
    }
    .flex-container{
       margin-top: 20px;
    }
    #flex-item{
        width:350px;
        background-color: white;
        height:380px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
        /* /background:url("/public/pics/047.jpg"); */
      }
}
@media only screen and (max-width:800px){
#flex-item-post{
    top:0px;
}
}
@media only screen and (max-width:560px){
    .for-small-device{
        display: block;
    }
    .for-big-device{
        display: none;
    }
    #flex-item-post{
        width:800px;
        height: 720px;
    }
    #land-lord{
        top: 30px;
        left:150px;
    }
    #Post-house{
        margin-left: 35px;
    }
    #Post-house textarea{
        margin-top: 30px;
        width:400px; 
    }
    .flex-container3{
       background-color: whitesmoke;
        height: 820px;
    }
    #flex-item-post{
       
        height: 820px;
    }
    #profileInfo{
        margin-left:15%;
    }
}

@media only screen and (max-width:540px){
    #flex-itemm h1{
        font-size: 50px;
    }
    header{
        height: 100px;
    }
    #flex-itemm h4{
        margin-left: 50px;
    }
    #flex-itemm #link{
        margin-left: 50px;
    }
}
@media only screen and (max-width:500px){
    header{
        height:110px;
    }
}
@media only screen and (max-width:454px){
    header{
        padding-left: 10px;
         }
    header h1{
        
        font-size: 22px;
    }
    #Post-house textarea{
        margin-top: 30px;
        width:300px; 
        height: 120px;
        margin-left:20px;
    }
    #submitBtn{
        bottom: 5px;
    }
}
@media only screen and (max-width:420px){
    #flex-itemm h1{
        font-size: 40px;
        margin-left: 10px;
    }
    header{
        height: 120px;
    }
    #flex-itemm h4{
        margin-left: 40px;
        font-size: 20px;
    }
    #flex-itemm #link{
        margin-left: 10px;
    }
}
@media only screen and (max-width:405px){
#flex-item-post h3{
    font-size: 20px;
}
}
@media only screen and (max-width:367px){
    header{
        padding-left: 10px;
         }
    header h1{
        
        font-size: 20px;
    }
    #flex-itemm #link{
        margin-left: 40px;
    }
    #flex-itemm a{
        margin-left: 70px;
        margin-top: 10px;
        width:150px;
        display: block;
    }
    #Post-house textarea{
        margin-top: 30px;
        width:200px; 
        height: 120px;
        margin-left:0px;
    }
    #flex-item-post h3{
      /* font-size: 10px; */
        height: 65px;
        
    }
}
@media only screen and (max-width:415px){
    body{
        background-color: white;
    }
    #profileInfo h6{
        /* height:10px; */
        position: relative;
        top:-8px;
        left:-50px;
        color: rgb(253, 30, 30);
        font-size: 9pt;
    }
    .flex-itemProfile{
      /* border:1px solid black; */
    
        position: relative;
    }
    .forBig{
        display: none;
    }
   .forSmall{
        display: block;
    }
   
   
    #profileInfo{
          margin-top: 10px;
          margin-left: 105px;
        
    }
    #profileInfo input{
        width: 250px;
        margin-left: -50px;
        border: 1px solid rgba(146, 62, 41,0.3);
    }
    .flex-itemProfile{
        height: 600px;
        box-shadow:none;
        background: none;
    }
    #profileBtn{
        position: absolute;
        left:18%;
        bottom:0px;
    }
}
@media only screen and (max-width:345px){
    #profileInfo{
        
        margin-left:95px;
        
    }
    #profileInfo input{
        width: 190px;
    }
    .flex-itemProfile h3{
    padding-left: 80px;
    }
}