*{
    margin:0;
    padding:0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
html{
    width: 100% !important; 
     overflow-x: hidden;
}
body{
    box-sizing: border-box;
    width:100% !important;
  margin:0;
  padding: 0;
  height: 100%;
}
#whole{
    width:100%;
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: block;
}
#image{
    position: absolute;
    margin:5% 20% 5% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width:60%;
    padding: 0;
    height:80%;
    background-color: whitesmoke;

}
audio{
    bottom:0;
    right:0;
    position: absolute;
}
@keyframes caption{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#caption1{
    animation-name: caption;
    animation-duration: 4s;
    right:10px;
    position: absolute;
    top:40%;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
#date{
    position: absolute;
    bottom: 0;
    right: 0;
}
p{
    animation-name: caption;
    animation-duration: 4s; 
    top:30%;    

    position: absolute;
    left:10%;
    right: 10%;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    line-height: 40px;
    text-align: justify;
    font-family: cursive;
}
#btn{
    height:10%;
    width:15%;
    border: none;
    position: absolute;
    top:40%;
    right:45%;
    background-color: rgb(0, 0, 0);
    color:whitesmoke;
}
#btn:hover{
    background-color: rgba(0, 0, 0,0.9);
}