
 
* {
    box-sizing: border-box;
     /* overflow-x: hidden;  */
   
    
}
html{
    width: 100% !important;

   
    /* overflow-x: hidden !important; */
}
 body{
        width: 100% !important;
        margin: 0px;
        padding: 0px;
      
        /* min-width: 768px !important; */

    }   
   
#company_name{
    /* width:35%; */
    position: relative;
    /* border: 1px solid red; */
    height:70px;
    padding: 0px;
    padding-left:0px ;
 float: left;
    margin: 0;
    margin-right: 20px;
}

.main-parts{
    color:rgba(248, 238, 251,0.7);
    margin: 0px;                                                                                                                                      
    float:left;
    padding: 20px 30px;
    top:0px;
    right: 0px;
    width: 100%;
    font-weight: bolder;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Yesteryear', cursive; */
    
  line-height: 30px;
  position: absolute;
  margin-left: 30px;

}
.menu > li >  a,.dropdownn >a{
    color:rgba(248, 238, 251,0.7);
    padding: 10px;
    padding-top:50px;
    height: 90px;
    width:100px;
   text-align: center;
    border:1.54px solid rgba(29, 31, 55,0.7);
    font-size: 16px;
}
#main-title{
    color:rgb(239, 245, 251);
    font-size: 25px;
    padding: 0;
    margin: 0;
   
  
}


#sub-title{
    white-space: nowrap;
    font-size: 18px;
   
    padding: 0;
    margin: 0;
}

  

    #back-Image{
        margin-top: 100px;
       
       min-width: 0px;
    }
    

 
 .about{
    border-right:1.54px hidden  rgba(29, 31, 55,0.7);
}

    
.dropdownn{
    margin-top: 0;
    padding: 0;
    display: block;
}

.dropdown-contentt {
    margin-top:200px;
    display: none;
    position: absolute;
    margin-left:0px;
    background-color:rgba(95, 95, 121, 0.6);
    max-width: 120px;
}

.dropdown-contentt a{
    
    
    color:rgba(248, 238, 251,0.7);
    background-color:rgba(11, 22, 41,1);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
    border-bottom: 1px solid rgb(37, 41, 48);
    font-size: 14px;
    
    height: 40px;
    
}
#rent{
    border-bottom: 1px solid grey;
}
.dropdown-contentt a:hover {
    background-color:rgb(30, 39, 53);
    color:white;
    transition: background-color 0.5s ease;

}

.dropdownn:hover .dropdown-contentt {
    display:block;
    margin-top: 0;
}
li.dropdownn{
    display: inline-block;
}

#back-Image{
    margin-top:80px;
}
@media only screen and (min-width:768px) {
    /* .main-parts{
        margin-left: 30%;
     }   
  
     .navbarr ul{
         height:70px;
        padding-top: 10px;
       padding-left: 15%;
        overflow: hidden;
      max-width:100%;
     }
     .navbarr ul li{
       
       
       
     }
     .navbarr ul li a#no-dropdown{
      height:50px;
      margin-top: 0;
      max-width:110px;
      padding: 5px 16px 0px 10px;
      border-left:1.54px hidden rgba(29, 31, 55,0.7);
     }
            */
#thirdRow{
   
    height:500px;
    padding-left: 10px;
    overflow: hidden;
}
#Spic1,#Spic2,#Spic3{
    width:110px;
    height:50px;
}

#small {
    margin-top:80px;
    align-self: center;
 max-width:100%;
    position: relative;
    
    
}
ul.imgList{
    margin-left:30%;
    max-width:100%;
}
ul.imgList li{
    display: inline;
     background-color: grey;
     
    padding:2px 100px 0px 10px;
     border-right: 1px solid white;
    border-left: 0px solid whitesmoke;
    transition: background-color 3s ease;
    margin: 0;
     
}
}
#forTabletA{
    /* width: 50%; */
    margin-top: 70px;
}
#forTabletC{
    /* width: 50%; */
    margin-top: 70px;
}
/* #back-Image{
    display:flex;
}
#small{
    flex-direction: row;
    align-self: flex-end;
} */
   