*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul{
    list-style: none;
}
html{
    width: 100% !important;
    overflow-x: hidden;
}

body{
    line-height: 20px;
    font-weight: 400px;
    margin:0;
    padding:0;
  
    /* background: #fff; */
    font-size: 14px;
    
    width: 100% !important;
    line-height:2.51em;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  
        width:100%;
        position: fixed;
        top:0;
       
        z-index: 1;
        padding-bottom: 5px; 
        height:90px;
         background-color:rgb(11, 22, 41);
       

}
header #company_name{
    float:left;
    margin: 1px 0 0 0;
}
header .nav{
    float:right;
    margin: 38px 0 48px 0;
}
.main-parts{
    color:rgba(248, 238, 251,0.7);
    padding:12px 0 6px 100px;
    float:left;
    font-weight: bolder;
    font-family: Verdana, Geneva, sans-serif;
    /* font-family: 'Yesteryear', cursive; */
    overflow: hidden;
    font-size: 60px;
  line-height: 30px;
  position: relative;
  display: inline-block;
}
#main-title{
    color:rgb(239, 245, 251);
    font-size: 28px;
    
}
#sub-title{
    white-space: nowrap;
    font-size: 20px;
}

.menu::before,
.menu::after {
  content: " ";
  display: table;
}
.menu::after {
  clear: both;
}
.menu>li{
position: relative;
float:left;
}
.menu > li + li {
    /* margin-left: 20px; */
  }
.menu a{
    display: block;
}
.menu{
    font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.menu > li >  a,.dropdownn >a{
    color:rgba(248, 238, 251,0.7);
    padding: 10px;
    padding-top:50px;
    height: 90px;
    width:100px;
   text-align: center;
    border-left:1.54px solid rgba(29, 31, 55,0.7);
    font-size: 16px;
}

.menu > li >a:hover{
    transition: background-color 0.5s ease;
    color:white;
    text-decoration: none;
    background-color:rgb(30, 39, 53);
}
.dropdownn >a:hover{
    transition: background-color 0.5s ease;
    color:white;
    text-decoration: none;
    background-color:rgb(30, 39, 53);
}
.active{
    background-color:rgb(30, 39, 53);
}
.dropdownn{
    margin-top: 0;
    padding: 0;
    display: inline-block;
}

.dropdown-contentt {
    margin-top:10px;
    border-radius: 50;
    display: none;
    position: absolute;
    margin-left:0px;
     height:80px;
     z-index: 1;
        width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-contentt a{
    
    color:rgba(248, 238, 251,0.7);
    background-color:rgba(11, 22, 41,1);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
    border-bottom: 1px solid rgb(37, 41, 48);
    font-size: 14px;
    
    height: 40px;
}
.dropdownn{
    margin-top: 0;
    padding: 0;
    display: inline-block;
}

.dropdown-contentt {
    margin-top:10px;
    border-radius: 50;
    display: none;
    position: absolute;
    margin-left:0px;
     height:80px;
     z-index: 1;
        width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-contentt a{
    
    color:rgba(248, 238, 251,0.7);
    background-color:rgba(11, 22, 41,1);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
    border-bottom: 1px solid rgb(37, 41, 48);
    font-size: 14px;
    
    height: 40px;
}

.dropdown-contentt a:hover {
    background-color:rgb(30, 39, 53);
    color:white;
    transition: background-color 0.5s ease;

}

.dropdownn:hover .dropdown-contentt {
    display:block;
    margin-top: 0;
}




p{
    text-align: justify;
    line-height: 17pt;
}
p a {
    color:rgb(190, 7, 7);
}
p a:hover{
    color:rgb(190, 7, 7);
    text-decoration: underline;
}
#services{
    font-weight: bolder;
    font-family: sans-serif;
    color: #1b046b;
    font-size: 15pt;
}

#secondRow h3{
    font-weight: bold;
    font-family: serif;
    text-align: left;
    font-size: 12pt;
    
    color:rgb(32, 30, 30);
    

}
#back-Image{
    position:relative;
  
    margin-top: 90px;
    
}

#background{
  
    display:block;
    background-size: cover;
     height:400px;
     margin-top:0px;
     border-bottom-right-radius:10px ;
     border-bottom-left-radius: 10px;
     transition:background-image 0.5s ease-in; 
}
@keyframes slideCaption{
0%{
   
   margin-left: 65px;
   opacity: 0.5;
}
10%{
   
   margin-left:250px;
    opacity:1;
}
}
#back h1{
    margin-top: 210px;
    font-family: cursive;
}
#caption1{
    position: absolute;
    color:rgb(252, 243, 243);
    display:inline-block;
     margin-left:100px; 
     white-space: nowrap;
    margin-top:50px;
    animation-name: slideCaption;
     animation-duration: 2s;
    /* animation-iteration-count: infinite; */
  
}
/* #small {
    bottom:0px;
    align-self: center;
  width:100%;
    position: absolute;
   border: 2px solid brown;
    
} */
ul.imgList{
    white-space: nowrap;
  padding: 0;
  margin: 0;
    background-color: grey;
    list-style-type: none;
  
   
    margin-left:28%; 
    position: absolute;
    bottom:0px;
    /* border: 1px solid crimson; */
    height: 10px;
}

ul.imgList li{
    float: left;
    position: relative;
    display:block;
     background-color: grey;
    padding:2px 180px 0px 20px;
     border-right: 1px solid white;
   
    transition: background-color 3s ease;
    margin: 0;
     height: 10px;
     bottom:12px;
}
ul.imgList li#smallPic3{
    border-right: 1px solid grey;
}

.picDropdown{
    position: relative;
    display:inline-block;
}
.pic-content{
display:none;
position: absolute;
width:140px;
}
.picDropdown:hover .pic-content{
    display:block;
   bottom:9px;
}





#thirdRow{
    line-height: 30pt;
    height:300px;
    color: whitesmoke;
    margin-top: 30px;
    padding-top: 10px;
    background-color: rgba(29, 31, 55,0.8);
}
#thirdRow li{
    font-size: 11pt;
}

#thirdRow h2{
    font-weight: bolder;
   
    font-size: 17pt;
}
.contactList li{
    text-align: justify;
    font-weight: 600px;
    
}
ul.contactList li{
    /* color:rgba(38, 45, 128,0.5); */
    margin-left:15px;
    border-bottom: 1px solid;
}
ul.contactList{
    color:rgba(248, 238, 251,0.7);
    list-style-type: none;
    max-width:300px;

}
#desc{
    margin-top: 30px;
    /* width:850px; */
}
#desc h2{
    font-size: 17pt;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    max-width:300px;
    line-height: 30pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#place{
    /* margin-left: 90px; */
}

p{
    text-align: justify;
}
#adressList{
    margin-left: 25px;
   
}
ul#adressList{
    list-style-type:square;
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;

}
#adressList li{
    border-bottom: 0px solid;
    line-height: 15pt;
}
.contactList a{
    color:rgba(248, 238, 251,0.8);
}
.contactList a:hover{
text-decoration: none;
color:rgba(248, 238, 251,1);
}
ul.aboutList li{
    /* color:rgba(38, 45, 128,0.5); */
    margin-left: 20px;
    border-bottom: 1px solid;
}
ul.aboutList{
    list-style-type: none;
    max-width:250px;
}
.aboutList a{
    color:rgba(248, 238, 251,0.7);
    font-weight: bold;
}
ul.aboutList a:hover{
    color:rgba(248, 238, 251,1);
    text-decoration: none;
}
#hidden{
    display: none;
}
#show{
    padding:0px 10px;
    font-size: 10pt;
    color:rgb(190, 7, 7);
    
}
#hide{
    font-size: 10pt;
    color:rgb(190, 7, 7);  
}
#hide:hover{
    text-decoration: underline;
}
#show:hover{
    text-decoration: underline;
}
#alert{
    /* margin-left:5%; */
    max-width:100%;
   height:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:20px 20px 35px 10px;
    background-color:rgba(208, 203, 209,0.5) ;
}

#alert h2{
    font-weight: bold;
}
#alert p{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

#alert a{
   margin-left:0%;
    border-radius: 1px ;
    padding:17px 40px 15px 25px;
    color: white;
  font-size: 15pt;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(173, 169, 169,0.8) ;
}
#alert a:hover{
   text-decoration: none;
    background-color:rgba(173, 169, 169,1);
}
#fourthRow{
    width: auto;
    height:40px;
    color:rgb(239, 245, 251);
    background-color: rgba(29, 31, 55,1);
}
#fourthRow #last{
    margin-top:5px; 
  /* margin-left: 400px; */
   text-align: center;
    font-size: 10pt;
}
h2#lastTitle{
    margin-left:10px;
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#thirdRow h5{
    font-size: 10pt;
    margin:10px 0px 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    border-right:1.54px solid  rgba(29, 31, 55,0.7);
}
.navbarr ul li a#no-dropdown{
    display:inline-block;
    color:rgba(248, 238, 251,0.7);
     border-right:1.5px solid white;
    border-left:1.54px solid rgba(29, 31, 55,0.7);
    width:100px;
    /* position: absolute; */
    height:85px; 
    padding-top:50px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
   
}
.navbarr ul li a#no-dropdown:hover{
    color:white;
    text-decoration: none;
    background-color:rgb(30, 39, 53);
    transition: background-color 0.5s ease;
   
}
 li button {
     margin:0px;
    background-color: grey;
   /* float: left; */
    color: white;
     max-width:170px;
     height:15px;
   
    display: inline;
    
}
li button:hover{
    background-color: black;
}


/* li.dropdownn {
    display: inline-block;
} */
.dropdownn{
    margin-top: 0;
    padding: 0;
    display: inline-block;
}

.dropdown-contentt {
    margin-top:10px;
    border-radius: 50;
    display: none;
    position: absolute;
    margin-left:0px;
     height:80px;
     z-index: 1;
        width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-contentt a{
    
    color:rgba(248, 238, 251,0.7);
    background-color:rgba(11, 22, 41,1);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
    border-bottom: 1px solid rgb(37, 41, 48);
    font-size: 14px;
    
    height: 40px;
}
#alert form{
    width:100%;
   
}
#uemail{
    width: 60%;
    padding-left: 10px;
}
#subscribe{
    margin-left: 20px;
    width:30%;
    color:whitesmoke;
    background: url("/public/pics/003.jpg");
}
@media only screen and (max-width:323px){
    #uemail{
        width: 100%;
        padding-left: 10px;
    }
    #subscribe{
        margin-left: 0px;
        margin-top: 20px;
        width:100%;
        color:whitesmoke;
        background: url("/public/pics/003.jpg");
    }  
}
@media only screen and (max-width:991px) {
    .dropdownn{
        margin-top: 0;
        padding: 0;
        display: inline-block;
    }
    
    .dropdown-contentt {
        margin-top:10px;
        display: none;
        position: absolute;
        margin-left:0px;
         height:80px;
         z-index: 1;
            width: 110px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .dropdown-contentt a{
        
        color:rgba(248, 238, 251,0.7);
        background-color:rgba(29, 31, 55,0.9);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align:left;
        border-bottom: 1px solid rgba(29, 31, 55,0.6);
        font-size: 14px;
        
        height: 40px;
    }

    .dropdown-contentt a{
    
    color:rgba(248, 238, 251,0.7);
    background-color:rgba(29, 31, 55,0.9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
    border-bottom: 1px solid rgba(29, 31, 55,0.6);
    font-size: 10px;
   
    height: 50px;
}
}
.dropdown-contentt a:hover {
    background-color:rgb(30, 39, 53);
    color:white;
    transition: background-color 0.5s ease;

}

.dropdownn:hover .dropdown-contentt {
    display:block;
    margin-top: 0;
}
